Button{
    width: 7rem;
}
.generate{
    display: flex;
    gap: 3rem;
    
}
.range_input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
}
.time_input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.3rem;
    padding: .5rem;
}